#@data/values
---
domain:
wildcard_domain:
org: tanzu
privileged_clusterrole_name:  #! In TMC clusters is: vmware-system-tmc-psp-privileged 

aws_access_key_id: <FILL_YOUR_INFO>
aws_secret_access_key: <FILL_YOUR_INFO>

ingress:
  namespace: tanzu-developer
  type: contour
externaldns:
  name: external-dns
  owner: tanzu
certs:
  email: jorgemoralespou@gmail.com
  region: eu-west-1
registry:
  namespace: tanzu-developer
  name: registry
  admin:
    username: admin
    password: admin123!
  secrets:
    #! Generate the secret by doing: `htpasswd -nb admin admin123!` or whatever user/password you want
    htpasswd: 'admin:$2a$10$UJ9q77n9Vc0d8ppxomAxaeleIaeNX/5faYnt/PZLK20awaxSjxOgy'
    hashared: replicated